<h1>Top#index</h1>
<p>Find me in app/views/top/index.html.erb</p>

<div class="row">
<ul>
<li><%= link_to 'Customers', customers_path %></li>
</ul>
</div>
<hr>
APIテスト
<div class="row">
<input id="btn01" type="button" value="Customers 100件">
  <div id="disp" class="col-md-12">
  </div>
</div>

<script src="jquery-2.1.1.min.js"></script>
<script src="underscore-min.js"></script>
<script src="top.js"></script>
